.no-todo-feed {
    margin-top: 120px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: rgb(2, 146, 26);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
}

#no-todo-button {
    transition: 0.4s;
    margin-top: 24px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: rgb(207, 219, 207);
    border: 1px solid rgb(5, 99, 22);
    color: rgb(2, 48, 10);
}

#no-todo-button:hover {
    transition: 0.4s;
    background-color: rgb(246, 248, 246);
    box-shadow: 5px 5px rgb(150, 151, 150);
    cursor: pointer;
}

#no-todo-button:active {
    transition: 0.2s;
    box-shadow: 1px 1px rgb(150, 151, 150);
}

.todo-card {
    border: 1px solid rgb(202, 218, 202);
    margin-top: 32px;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
}

.todo-card h3 {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.project-link {
    box-sizing: border-box;
    padding: 4px;
}

.project-link:hover {
    cursor: pointer;
    background-color: rgba(170, 201, 175, 0.7);
    transition: 0.4s;
    box-shadow: 2px 2px rgb(150, 151, 150);
}

.project-link:active {
    box-shadow: 0px 0px;
    transition: 0.1s;
}