#new-project-form {
    border: 3px double rgb(2, 146, 26);
    height: 40%;
    width: 40%;
    margin: auto;
    margin-top: 5%;
    box-sizing: border-box;
    padding: 40px;
}

legend {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 32px;
}

.form-element {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

#form-description {
    flex-basis: 10%;
    flex-grow: 2;
    max-width: 80%;
}

#form-title {
    flex-basis: 10%;
    flex-grow: 2;
    max-width: 80%;
}

