#your-projects {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.project-card {
    background-color: rgb(235, 241, 236);
    border: 1px solid rgb(202, 218, 202);
    width: 60%;
    margin: auto;
    margin-top: 40px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

.project-card:hover {
    transition: 0.6s;
    background-color: rgba(170, 201, 175, 0.6);
    cursor: pointer;
    box-shadow: 2px 2px rgb(163, 173, 165);
}

.project-card:active {
    transition: 0.2s;
    box-shadow: 0px 0px;
}

.project-card-header {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 8px;
    border-bottom: 1px solid rgb(202, 218, 202);
    text-align: center;
    padding-bottom: 10px;
}

.project-card-body {
    font-size: 1.2rem;
    box-sizing: border-box;
    padding-top: 20px;
}

.no-hover:hover {
    background-color: rgb(235, 241, 236);
    cursor: auto;
    box-shadow: 0px 0px rgb(163, 173, 165);
}

.todo-area {
    margin-top: 16px;
    padding: 8px;
    border-top: 1px dashed rgb(202, 218, 202);
}

#no-todo {
    margin-top: 8px;
    margin-bottom: 8px;
}

.add-todo-button-container {
    text-align: right;
    box-sizing: border-box;
    padding-right: 16px;
}

.add-todo-button {
    margin-top: 16px;
    width: 32px;
    height: 32px;
}

#project-legend {
    text-align: center;
}